<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home</title>
  </head>
  <body>
    <div class="w3-navbar">
      <a class="active" href="/home"><i class="fa fa-fw fa-home"></i>Home</a></a>
      <a href="/controll-panel"><i class="fa fa-fw fa-wrench"></i>Controll panel</a>
      <!-- <a href="/chart"><i class="fa fa-fw fa-bar-chart"></i>Chart</a> -->
    </div>
    <div class="w3-container">
      <h2>Status table</h2>
      <div>
        <table class="w3-table-all w3-hoverable">
          <thead>
            <tr class="w3-light-gray">
              <th>ID</th>
              <th>Status</th>
              <th>Time</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0; i < data.length; i++) { %>
              <tr>
                <td><%= data[i].id %></td>
                <td><%= data[i].status %></td>
                <td><%= data[i].time %></td>
                <td>
                  <form action="/delete-status" , method="post">
                    <input
                      type="text"
                      hidden
                      value="<%= data[i].id %>"
                      name="statusId"
                    />
                    <button type="submit" class="btn-CRUD">Delete</button>
                  </form>
                </td>
            </tr>
            <% } %>
          </tbody>
    </div>

    <script type="text/javascript">
      var url = "autodoor.herokuapp.com"; 
      var ws = new WebSocket("wss://" + url); 
      ws.onopen = function () 
      {
        ws.send(JSON.stringify({
          status: "Connected",
          pathname: '/home'
        }));
      };

      ws.onclose = function () {
        alert("Server destroyed!");
      };
    </script>
  </body>
</html>
